.env
extensions/*
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
**/**/*.pyc
**/**/_pycache_
src/chrome_extension_builder/browser/__pycache__/manager.cpython-311.pyc
src/chrome_extension_builder/browser/__pycache__/manager.cpython-311.pyc
src/chrome_extension_builder/chat/__pycache__/routes.cpython-311.pyc
src/chrome_extension_builder/chat/__pycache__/routes.cpython-311.pyc
src/chrome_extension_builder/chat/__pycache__/routes.cpython-311.pyc
